{% extends 'base.jinja' %}

{% block content %}

  <h1>Thanks for completing this survey!</h1>
  <ul>
  {% for answer in questions_answers %}

    <li>Q: {{ questions_answers[answer].prompt }} A: {{ answer }}</li>
  {% endfor %}
  </ul>
{% endblock %}